<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Group 5.1 Discrete Stereo</key>
	<dict>
		<key>1</key>
		<array>
			<string>L R C Lfe Ls Rs</string>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
		</array>
		<key>2</key>
		<array>
			<string>Lt</string>
			<array>
				<integer>38</integer>
			</array>
		</array>
		<key>3</key>
		<array>
			<string>Lt</string>
			<array>
				<integer>39</integer>
			</array>
		</array>
	</dict>
	<key>8Ch Discrete</key>
	<dict>
		<key>1</key>
		<array>
			<string>L</string>
			<array>
				<integer>1</integer>
			</array>
		</array>
		<key>2</key>
		<array>
			<string>R</string>
			<array>
				<integer>2</integer>
			</array>
		</array>
		<key>3</key>
		<array>
			<string>C</string>
			<array>
				<integer>3</integer>
			</array>
		</array>
		<key>4</key>
		<array>
			<string>Lfe</string>
			<array>
				<integer>4</integer>
			</array>
		</array>
		<key>5</key>
		<array>
			<string>Ls</string>
			<array>
				<integer>5</integer>
			</array>
		</array>
		<key>6</key>
		<array>
			<string>Rs</string>
			<array>
				<integer>6</integer>
			</array>
		</array>
		<key>7</key>
		<array>
			<string>Lt</string>
			<array>
				<integer>38</integer>
			</array>
		</array>
		<key>8</key>
		<array>
			<string>Rt</string>
			<array>
				<integer>39</integer>
			</array>
		</array>
	</dict>
	<key>Group 5.1 Group Stereo</key>
	<dict>
		<key>1</key>
		<array>
			<string>L R C Lfe Ls Rs</string>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
		</array>
		<key>2</key>
		<array>
			<string>Lt Rt</string>
			<array>
				<integer>38</integer>
				<integer>39</integer>
			</array>
		</array>
	</dict>
	<key>8Ch Group Stereo</key>
	<dict>
		<key>1</key>
		<array>
			<string>L</string>
			<array>
				<integer>1</integer>
			</array>
		</array>
		<key>2</key>
		<array>
			<string>R</string>
			<array>
				<integer>2</integer>
			</array>
		</array>
		<key>3</key>
		<array>
			<string>C</string>
			<array>
				<integer>3</integer>
			</array>
		</array>
		<key>4</key>
		<array>
			<string>Lfe</string>
			<array>
				<integer>4</integer>
			</array>
		</array>
		<key>5</key>
		<array>
			<string>Ls</string>
			<array>
				<integer>5</integer>
			</array>
		</array>
		<key>6</key>
		<array>
			<string>Rs</string>
			<array>
				<integer>6</integer>
			</array>
		</array>
		<key>7</key>
		<array>
			<string>Lt Rt</string>
			<array>
				<integer>38</integer>
				<integer>39</integer>
			</array>
		</array>
	</dict>
	<key>2Ch Discrete</key>
	<dict>
		<key>1</key>
		<array>
			<string>L</string>
			<array>
				<integer>1</integer>
			</array>
		</array>
		<key>2</key>
		<array>
			<string>R</string>
			<array>
				<integer>2</integer>
			</array>
		</array>
	</dict>
	<key>2Ch Group Stereo</key>
	<dict>
		<key>1</key>
		<array>
			<string>L R</string>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</array>
	</dict>
</dict>
</plist>
