<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LANGUAGE</key>
		<string>Arabic</string>
		<key>INDEX</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Bulgarian</string>
		<key>INDEX</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Catalan</string>
		<key>INDEX</key>
		<integer>130</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Chinese</string>
		<key>INDEX</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Czech</string>
		<key>INDEX</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Danish</string>
		<key>INDEX</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Dutch</string>
		<key>INDEX</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>English</string>
		<key>INDEX</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Finnish</string>
		<key>INDEX</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>French</string>
		<key>INDEX</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>German</string>
		<key>INDEX</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Hebrew</string>
		<key>INDEX</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Hindi</string>
		<key>INDEX</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Hungarian</string>
		<key>INDEX</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Icelandic</string>
		<key>INDEX</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Indonesian</string>
		<key>INDEX</key>
		<integer>81</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Italian</string>
		<key>INDEX</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Japanese</string>
		<key>INDEX</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Korean</string>
		<key>INDEX</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Lithuanian</string>
		<key>INDEX</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Macedonian</string>
		<key>INDEX</key>
		<integer>43</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Malay</string>
		<key>INDEX</key>
		<integer>83</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Modern Greek</string>
		<key>INDEX</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Mongolian</string>
		<key>INDEX</key>
		<integer>57</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Norwegian</string>
		<key>INDEX</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Polish</string>
		<key>INDEX</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Portuguese</string>
		<key>INDEX</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Romanian</string>
		<key>INDEX</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Russian</string>
		<key>INDEX</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Serbian</string>
		<key>INDEX</key>
		<integer>42</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Slovak</string>
		<key>INDEX</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Slovenian</string>
		<key>INDEX</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Spanish</string>
		<key>INDEX</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Swedish</string>
		<key>INDEX</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Tagalog</string>
		<key>INDEX</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Tamil</string>
		<key>INDEX</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Telegu</string>
		<key>INDEX</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Thai</string>
		<key>INDEX</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Turkish</string>
		<key>INDEX</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Ukranian</string>
		<key>INDEX</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Urdu</string>
		<key>INDEX</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>LANGUAGE</key>
		<string>Vietnamese</string>
		<key>INDEX</key>
		<integer>80</integer>
	</dict>
</array>
</plist>
